html{
  background-color: rgb(27, 227, 27);
}

.container-fluid{
  background-color: rgb(27, 227, 27);
}

input[type="text"] {
  background: transparent;
  color: black;
}

input[type="text"]:focus {
  background: transparent;
  color: black;
}